<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>

<div class="ui secondary pointing menu">
    <div class="left menu">
        <a class="ui item">
            <img src="{{ asset('img/logo-eni.png') }}" alt="logo ENI"/>
        </a>
        <a class="ui item">
            Sortie.com
        </a>
    </div>

    <div class="right menu">
        <a class="ui item active" href="{{ path('app_register')}}">
            Villes
        </a>
        <a class="ui item active" href="">
            Sites
        </a>
        <a class="ui item active" href="">
            Accueil
        </a>
        <a class="ui item active" href="">
            Mon profil
        </a>
        <a class="ui item active" href="">
            Se déconncter
        </a>
    </div>
</div>


<!-- nav -->

<section>
    {% block main %}{% endblock %}
</section>

<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>
